---
const { type = 'sidebar', menuStart = false, menuCenter = false, menuEnd = false } = Astro.props;
---

<div class={`${type} dark zi-2`}>
  {(menuStart === true) ? (
    <div class="sideMenuStart">
      <slot name="menuStart"></slot>
    </div>
  ) : ''}
  {(menuStart === true) ? (
    <div class="sideMenuCenter">
      <slot name="menuCenter"></slot>
    </div>
  ) : (
    <div class="sideMenuFill">
      <slot></slot>
    </div>
  )}
  {(menuStart === true) ? (
    <div class="sideMenuEnd">
      <slot name="menuEnd"></slot>
    </div>
  ) : ''}
</div>
